#banner-create {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    width: 30%;
    gap: 20px;
}

button {
    color: #fff;
    box-sizing: border-box;
    border-collapse: collapse;
    border: solid black 2px;
    border-radius: 5px;
    background-color: #790A0A;
    height: 30px;
}

#banner-preview {
    text-align: center;
    position: relative;
    width: 500px;
    height: 250px;
}

#hd-inp-wrap, #sub-inp-wrap, #cta-inp-wrap {
    display: flex;
    gap: 3%;
}